##Python Basics  - Introduction



Python is a high-level, interpreted programming language known for its simplicity and readability.

It emphasizes clean syntax, making it ideal for beginners and professionals alike.

Python's extensive standard library and third-party packages empower developers to efficiently create a wide range of applications, from web development and data analysis to scientific computing and artificial intelligence.

Its dynamic typing and automatic memory management enhance productivity, while features like list comprehensions, lambda functions, and object-oriented programming provide powerful tools.

Python's versatility, backed by a strong community, makes it a preferred choice for rapid development, scripting, and solving complex problems.

#Python Indentation

Indentation in Python is crucial for defining the structure and scope of code blocks. It replaces traditional curly braces in other programming languages.

Indentation Significance: Indentation (whitespace at the beginning of lines) is used to group statements within loops, conditionals, functions, and classes.

Consistent Spacing: Maintain consistent indentation (typically four spaces) to indicate code hierarchy and avoid errors.

Blocks and Statements: Statements with the same level of indentation are part of the same block. Indentation ends with the line before a line with lesser indentation.

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [65]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

#Python Variables

In this program, we declare four variables: name, age, is_student, and pi. We assign different types of values to these variables: a string, an integer, a boolean, and a floating-point number. Then, we use the print() function to display the values associated with these variables.

In [1]:
# Variable declaration

name = "John"
age = 25
is_student = True
pi = 3.14159

# Printing the variables

print("Name:", name)
print("Age:", age)
print("Is Student:", is_student)
print("Value of Pi:", pi)

Name: John
Age: 25
Is Student: True
Value of Pi: 3.14159

#Python Comments

In [4]:
#Single-line comments: Use the # symbol to indicate a single-line comment.

# This is a single-line comment

print("Hello, World!")

Hello, World!

In [5]:
#Multi-line comments: You can use triple-quotes (''' or """) to create multi-line comments.

"""
This is a
multi-line comment
"""
print("Hello, Python!")

Hello, Python!

In [6]:
#Commenting for Explanation

# Calculate the area of a rectangle

length = 10
width = 5
area = length * width  # Formula for area
print("Area:", area)

Area: 50

#Python DataTypes

In [7]:
#Integer (int): Represents whole numbers.

x = 10
y = -5
result = x + y
print(result)  # Output: 5

5

In [8]:
#Float (float): Represents decimal numbers.

pi = 3.14159
radius = 5.0
area = pi * radius ** 2
print(area)  # Output: 78.53975

78.53975

In [9]:
#String (str): Represents text or characters.

name = "Alice"
greeting = "Hello, " + name
print(greeting)  # Output: Hello, Alice

Hello, Alice

In [10]:
#Boolean (bool): Represents True or False values.

is_student = True
has_license = False
can_drive = is_student and not has_license
print(can_drive)  # Output: True

True

In [11]:
#List: Ordered collection of items.

fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print(fruits)  # Output: ['apple', 'banana', 'orange', 'grape']

['apple', 'banana', 'orange', 'grape']

In [12]:
#Tuple: Similar to lists, but immutable (cannot be modified after creation).

coordinates = (3, 5)
x, y = coordinates
print(x, y)  # Output: 3 5

3 5

In [13]:
#Dictionary: Collection of key-value pairs.

person = {
    "name": "John",
    "age": 25,
    "is_student": False
}
print(person["name"])  # Output: John

John

In [17]:
#Set: Collection of unique elements.

colors = {"red", "green", "blue"}
colors.add("yellow")
print(colors)

{'yellow', 'green', 'red', 'blue'}

In [18]:
#NoneType (None): Represents the absence of a value.

result = None
if result is None:
    print("No result available")

No result available

#Python Numbers

In [19]:
#Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [20]:
#Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [21]:
#Complex numbers are written with a "j" as the imaginary part

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods

In [22]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

#Python Casting

In [23]:
#int() - constructs an integer number from an integer literal
#a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float_num = 3.14
int_num = int(float_num)
print(int_num)  # Output: 3

3

In [24]:
#float() - constructs a float number from an integer literal
# a float literal or a string literal (providing the string represents a float or an integer)

integer_num = 5
float_num = float(integer_num)
print(float_num)  # Output: 5.0

5.0

In [26]:
#str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

#Python Strings

In [27]:
#Creating Strings

single_quoted = 'This is a string.'
double_quoted = "This is also a string."
multiline = '''This is a
multiline
string.'''

In [28]:
#Accessing Characters

text = "Python"
print(text[0])  # Output: P
print(text[-1])  # Output: n

P
n

In [30]:
#String Slicing

message = "Hello, Python!"
substring = message[7:13]  # Extracts "Python"
print(substring)

Python

In [33]:
#String Concatenation

greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

In [37]:
#String Methods

text = "   Python Programming   "
print(text.strip())  # Removes leading/trailing spaces


print(text.lower())  # Converts to lowercase
print(text.upper())  # Converts to uppercase


print(text.replace("Python", "Java"))  # Replaces substring


print(text.split())  # Splits into a list of words

Python Programming
   python programming
   PYTHON PROGRAMMING
   Java Programming
['Python', 'Programming']

In [39]:
#String Formatting

name = "Alice"
age = 25
formatted = "My name is {} and I'm {} years old.".format(name, age)
f_string = f"My name is {name} and I'm {age} years old."
print(f_string)

My name is Alice and I'm 25 years old.

In [41]:
#String Length

text = "Python"
length = len(text)  # Returns 6
print(length)

6

#Python Booleans

In [43]:
#Comparing two values with Operators Evaluvation

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [44]:
#Using if Statement - Print a message based on whether the condition is True or False

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [45]:
#Print "YES!" if the function returns True, otherwise print "NO!"

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

#Python Operators

In [47]:
#Arithmetic Operators: These operators are used for mathematical calculations.

x = 10
y = 3

addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
remainder = x % y
exponentiation = x ** y

print("Addition:", addition)          # Output: 13
print("Subtraction:", subtraction)    # Output: 7
print("Multiplication:", multiplication)  # Output: 30
print("Division:", division)          # Output: 3.333...
print("Remainder:", remainder)        # Output: 1
print("Exponentiation:", exponentiation)  # Output: 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Remainder: 1
Exponentiation: 1000

In [48]:
#Comparison Operators : These operators are used to compare values and return Boolean results.

x = 10
y = 5

greater_than = x > y
less_than_equal = x <= y
not_equal = x != y

print("Greater Than:", greater_than)           # Output: True
print("Less Than or Equal:", less_than_equal)  # Output: False
print("Not Equal:", not_equal)                 # Output: True

Greater Than: True
Less Than or Equal: False
Not Equal: True

In [49]:
#Logical Operators : Logical operators are used to combine or manipulate Boolean values.

a = True
b = False

logical_and = a and b
logical_or = a or b
logical_not_a = not a

print("Logical AND:", logical_and)     # Output: False
print("Logical OR:", logical_or)       # Output: True
print("Logical NOT of A:", logical_not_a)  # Output: False

Logical AND: False
Logical OR: True
Logical NOT of A: False

In [50]:
#Assignment Operators:Assignment operators are used to assign values to variables.

x = 10
x += 5   # Equivalent to x = x + 5
x *= 2   # Equivalent to x = x * 2

print("Updated x:", x)  # Output: 30

Updated x: 30

In [51]:
#Identity Operators:Identity operators are used to compare the memory locations of two objects.

a = [1, 2, 3]
b = a
c = [1, 2, 3]

is_same_as_b = a is b
is_same_as_c = a is c
is_equal_to_c = a == c

print("Is Same as B:", is_same_as_b)  # Output: True
print("Is Same as C:", is_same_as_c)  # Output: False
print("Is Equal to C:", is_equal_to_c)  # Output: True

Is Same as B: True
Is Same as C: False
Is Equal to C: True

In [52]:
#Membership Operators:These operators check if a value exists within a sequence.

fruits = ["apple", "banana", "orange"]

is_in_list = "apple" in fruits
is_not_in_list = "grape" not in fruits

print("Is in List:", is_in_list)        # Output: True
print("Is Not in List:", is_not_in_list)  # Output: True

Is in List: True
Is Not in List: True

#Python Conditional Statement

In [53]:
#if Statement : The if statement allows you to execute a block of code only if a certain condition is true.
#An "if statement" is written by using the if keyword.

x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [54]:
#if-else Statement : The if-else statement enables you to execute one block of code if the condition is true and another block if the condition is false.

age = 18
if age >= 18:
    print("You're an adult.")
else:
    print("You're a minor.")

You're an adult.

In [55]:
#if-elif-else Statement : The if-elif-else statement allows you to evaluate multiple conditions in sequence and execute the block of code associated with the first true condition.
#If none of the conditions are true, the else block (if present) is executed.

score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [56]:
#Nested if Statements: You can also nest conditional statements within each other to create more complex decision trees.

x = 5
y = 10
if x > 0:
    if y > 5:
        print("Both conditions are true.")
    else:
        print("Second condition is false.")
else:
    print("First condition is false.")

Both conditions are true.

#Python Looping Statement

In [57]:
#for Loop: The for loop is used to iterate over a sequence (such as a list, tuple, or string)
#and execute a block of code for each element in the sequence.


fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [58]:
# while Loop : The while loop repeatedly executes a block of code as long as a specified condition is true.

count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [59]:
#break Statement:The break statement is used within a loop to immediately exit the loop, regardless of whether the loop's condition is still true.

numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)  # Outputs only 1 and 2

1
2

In [60]:
#continue Statement: The continue statement is used within a loop to skip the current iteration and proceed to the next one.

numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        continue
    print(num)  # Outputs all numbers except 3

1
2
4
5

In [61]:
#Nested Loops: You can also nest loops within each other to create more complex iteration patterns

for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [62]:
#The else Statement : With the else statement we can run a block of code once when the condition no longer is true

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#Python Functions

In [63]:
# Defining a function with parameters
def greet(name):
    return "Hello, " + name + "!"

# Calling the function
greeting = greet("Alice")  # Returns "Hello, Alice!"

# Defining a function with default parameter
def add(x, y=0):
    return x + y

# Calling the function with different argument variations
result1 = add(3, 5)   # Result is 8
result2 = add(10)     # Result is 10 (uses default y=0)

# Defining a function with variable arguments
def calculate_total(*prices):
    total = sum(prices)
    return total

# Calling the function with different number of arguments
total1 = calculate_total(10, 20, 30)  # Result is 60
total2 = calculate_total(5, 10)      # Result is 15

# Defining a lambda function
square = lambda x: x ** 2

# Using the lambda function
square_result = square(5)  # Result is 25

# Function with local variable
def example():
    local_var = "I'm local"
    return local_var

local_result = example()   # Returns "I'm local"

# Function with global variable
global_var = "I'm global"

def print_global():
    print(global_var)

print_global()  # Output: "I'm global"

I'm global